{{> head }}


{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1>titulo acerca de</h1>
    </div>
    
    <div class="col-4">
        <img src="utilities/image/nodejs_png.png" alt="img-thumbnail">
    </div>
</div>


{{> footer }}